header {
    background-color: #021b2c;
    color: #FFFFFF;
    padding: 20px;
    text-align: center;
  }
  
  #product-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  @media only screen and (max-width: 767px) {
    #products-list {
      display: block;
      text-align: center;
    }
  
    .product {
      display: inline-block;
      margin: 10px;
      width: calc(100% - 20px); /* Take up full-width minus margins */
    }
  }
  #products-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .product {
    background-color: #FFFFFF;
    border: 1px solid #EAEAEA;
    box-shadow: 2px 2px 5px #EAEAEA;
    margin: 10px;
    padding: 10px;
    text-align: center;
    width: 300px;
  }
  
  .product img {
    max-width: 100%;
    height: auto;
  }
  
  .product h3 {
    margin-bottom: 10px;
  }
  .product h4 {
    margin-bottom: 10px;
    font-size: 1px;
    color: #515151;
    font-family:monospace;
  }
  
  .product p {
    margin: 5px 0;
  }
  
  .price {
    font-weight: bold;
    color: #2C3E50;
  }
  
  footer {
    background-color: #FFFFFF;
    border-top: 1px solid #EAEAEA;
    color: #999999;
    padding: 20px;
    text-align: center;
  }